<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Tracker
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @trackers.each do |variable|
      
    end%>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_lat %>
    <%= form.text_field :start_lat %>
  </div>

  <div class="field">
    <%= form.label :start_lng %>
    <%= form.text_field :start_lng %>
  </div>

  <div class="field">
    <%= form.label :end_lat %>
    <%= form.text_field :end_lat %>
  </div>

  <div class="field">
    <%= form.label :end_lng %>
    <%= form.text_field :end_lng %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
